---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/sections/Header.astro";
import AboutSection from "@/components/sections/About.astro";
import Footer from "@/components/sections/Footer.astro";
---

<Layout title="About iHub">
  <Header />
  <main>
    <AboutSection />
  </main>
  <Footer />
</Layout>
