---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/sections/Header.astro";
import ContactSection from "@/components/sections/Contact.astro";
import Footer from "@/components/sections/Footer.astro";
---

<Layout title="Contact iHub">
  <Header />
  <main>
    <ContactSection />
  </main>
  <Footer />
</Layout>
