---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/sections/Header.astro";
import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import FeaturedProjects from "@/components/sections/FeaturedProjects.astro";
import Contact from "@/components/sections/Contact.astro";
import Footer from "@/components/sections/Footer.astro";
import WhatWeDo from "@/components/sections/WhatWeDo.astro";
---

<Layout title="iHub - AI Innovation">
  <Header />
  <main>
    <Hero />
    <About />
    <WhatWeDo />
    <FeaturedProjects />
    <Contact />
  </main>
  <Footer />
</Layout>
