---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/sections/Header.astro";
import InternShowcase from "@/components/sections/InternShowcase.astro";
import Footer from "@/components/sections/Footer.astro";
---

<Layout title="iHub Interns">
  <Header />
  <main>
    <InternShowcase />
  </main>
  <Footer />
</Layout>
